<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>526814388148-qklp5pisn1bephqm6a9taej56llj3u6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526814388148-qklp5pisn1bephqm6a9taej56llj3u6h</string>
	<key>API_KEY</key>
	<string>AIzaSyCSNjC891npBIc8NOf9lov5eGzggsXOYLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>526814388148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.org.eldorado.bepid.BioConstrucao</string>
	<key>PROJECT_ID</key>
	<string>bioconstrucao-8d52d</string>
	<key>STORAGE_BUCKET</key>
	<string>bioconstrucao-8d52d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526814388148:ios:8a7c7199560af63b</string>
	<key>DATABASE_URL</key>
	<string>https://bioconstrucao-8d52d.firebaseio.com</string>
</dict>
</plist>